:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --dark-purple: #3e2ca3;
}

.blog-preview-container {
  height: 100vh;
  padding: 2rem 5rem;
  background-color: var(--black);
  color: var(--white);
  padding-bottom: 4rem; /* Increased padding at the bottom of the container */
}

.blog-preview-container h1 {
  color: var(--white);
}

.page-title {
  text-align: center;
  color: var(--purple);
  margin-bottom: 5rem; /* Increased margin below the title */
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem; /* Increased space below the card container before the footer or next section */
}

.blog-card {
  position: relative;
  width: 20vw;
  height: 20rem;
  color: var(--white);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
}

.blog-card:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
}

.card-overlay p {
  padding: 20px;
  font-size: 1rem;
}

.blog-card:hover .card-overlay {
  opacity: 0.8;
}

.card-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    transparent 100%
  );
}

.category {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  margin-top: 5px;
  font-size: 1.2rem;
}

.read-more {
  align-self: flex-end;
  color: var(--white);
  border-bottom: 2px solid var(--purple);
}

@media (max-width: 768px) {
  .blog-card {
    width: 100%; /* Full width for mobile */
  }
}
