:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --dark-purple: #3e2ca3;
}

.chatbot-demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  padding: 2rem 0;
}

.chatbot-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2rem;
}

.iframe-container {
  border-radius: 25px;
  align-self: center;
  background-color: var(--white);
  max-height: 600px;
  height: 100vh;
  width: 100%;
  max-width: 400px;
}

.placeholder-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  color: #1e1927;
}

.chatbot-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5rem;
}

.chatbot-info h2 {
  color: var(--purple);
  margin-bottom: 1rem;
}

.chatbot-info p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.chatbot-info button {
  width: max-content;
  background-color: var(--purple);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chatbot-info button:hover {
  background-color: var(--dark-purple);
}

@media (max-width: 768px) {
  .chatbot-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .iframe-container,
  .chatbot-info {
    width: 100%;
    padding: 1rem 0;
  }
}
