.synapse-container {
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  width: 100vw;
  height: 100%;
}

.synapse-banner {
  margin-bottom: 2rem;
}

.values-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.value-card {
  /* background-color: var(--purple); */
  width: 25vw;
  height: 220px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
  color: var(--white);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.card-front {
  background-color: var(--lavender);
  color: var(--black);
}

.card-back {
  background-color: var(--dark-purple);
  color: var(--white);
  transform: rotateY(180deg);
}

.value-card.flipped .card-front {
  transform: rotateY(180deg);
}

.value-card.flipped .card-back {
  transform: rotateY(0deg);
}

.core-values {
  padding: 2rem;
  background-color: var(--dark-purple);
  text-align: center;
}

.core-values h2 {
  color: var(--lavender);
  margin-bottom: 1rem;
}

.core-values ul {
  list-style: none;
  padding: 0;
}

.core-values li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.value-item button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.value-description {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: var(--white);
}

.value-item.active button {
  font-weight: bold;
}

@media (max-width: 768px) {
  .values-grid {
    flex-direction: column;
  }

  .value-card {
    width: 90%;
    margin: 20px auto;
  }
}
