/* Base styles for all screens */
.footer {
  background-color: #000;
  color: #fcf7ff;
  padding: 0rem 2rem;
  line-height: 1.6;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-branding {
  flex: 2;
  margin-right: 2rem; /* Ensures spacing on larger screens */
}

.footer-branding h1 {
  font-size: 2.2rem;
  color: #fcf7ff;
  margin-bottom: 0.5rem;
}

.footer-branding p {
  margin-right: 30%;
  margin-bottom: 1rem;
}

.newsletter {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.newsletter input[type="email"] {
  padding: 0.8rem;
  margin-right: 0.5rem; /* Space between input and button on desktop */
  border: 1px solid #988ab5;
  border-radius: 4px;
}

.newsletter button {
  border-radius: 5px;
  padding: 0.8rem 1rem;
  background-color: var(--purple);
  color: white;
  border: none;
  cursor: pointer;
}

.footer-links {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1 1 20%; /* Each column takes about 20% of the footer width on desktop */
  min-width: 200px;
  margin-bottom: 1rem;
}

.footer-column h4 {
  font-weight: 800;
  color: var(--lavender);
  margin-bottom: 0.5rem;
}

.footer-column a {
  color: #fcf7ff;
  text-decoration: none;
  margin-bottom: 0.25rem;
  display: block;
}

.footer-column a:hover::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #988ab5;
  width: 50%;
}
.footer-bottom {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  border-top: 1px solid #988ab5;
  flex-wrap: wrap;
}

.footer-policies .separator {
  margin: 0 10px; /* Ensure the separator has equal spacing on both sides */
  color: inherit; /* Inherits the color from the parent for consistency */
}

.footer-bottom p {
  order: 2; /* Ensures this text is on the right */
  font-size: 0.9rem;
  margin-left: auto; /* Pushes the text to the right */
  color: #fcf7ff;
}

.company-info p span {
  font-weight: 600;
}

.footer-policies {
  gap: 10px;
  order: 1; /* Ensures policies are on the left */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1; /* Takes necessary space but pushes the text to the right */
}
.footer-policies a {
  color: #988ab5;
  text-decoration: none;
}
.footer-policies a:hover {
  text-decoration: underline;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-branding {
    flex: 1 1 100%; /* Full width on smaller screens */
    text-align: left;
    width: 100%;
    margin-right: 0; /* Remove right margin */
    order: 2; /* Newsletter appears at the bottom */
  }

  .newsletter {
    display: block;
    flex-direction: column; /* Stack elements vertically */
    /* align-items: left; */
    width: 100%;
  }

  .newsletter input[type="email"],
  .newsletter button {
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-column {
    flex: 1 2 100%; /* Full width for each column */
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-policies {
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .company-info p {
    font-size: small;
  }
}

/* Color Variables */
:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
}
