:root {
  --background-dark: #131313;
  --background-light: #262626;
  --primary-color: #00a6ff;
  --text-color: #ffffff;
  --hover-color: #005fa3;
}

.services-page {
  display: flex;
  width: 100vw;
  min-height: 100%;
  color: var(--text-color);
  background-color: var(--background-dark);
}

.service-details {
  width: 40%;
  padding: 20px;
  background: var(--background-light);
  overflow: auto;
}

.service-carousel {
  background-color: #00a6ff;
  width: 100%;
  padding: 50px;
  overflow: hidden;
}

.service-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.service-badge {
  flex: 1 1 30%;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 300px;
}

.service-badge img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.service-info {
  text-align: center;
}

.know-more-btn {
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.slick-prev,
.slick-next {
  display: none;
  color: var(--primary-color);
  font-size: 60px;
  z-index: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-light);
  border-radius: 50%;
  width: 40px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  right: calc(100%);
  padding-left: 10px;
}

.slick-next {
  left: calc(100%);
  padding-right: 10px;
}

.slick-prev:hover,
.slick-next:hover {
  display: none;
}

@media (max-width: 1024px) {
  .services-page {
    flex-direction: column;
  }

  .service-details,
  .service-carousel {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .service-badge img {
    height: 100px;
  }
}
