:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --dark-purple: #3e2ca3;
}

.dunefox-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
  min-height: 100vh;
  background-color: black;
  color: var(--white);
}

.main-title {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 2rem;
}

.dunefox-banner {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(123, 97, 255, 0.7),
    rgba(220, 198, 224, 0.7)
  );
  color: var(--white);
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh; /* Adjusted for better proportion */
}

.banner-headline {
  font-size: 2rem; /* Increased size for impact */
}

.banner-subtitle {
  font-size: 1.2rem; /* Balanced size for clarity */
}

.content-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem; /* Increased margin for separation */
}

.service-grid {
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 50%;
  height: 50vh;
}

.service {
  background-color: #1c1c1c;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.service:hover {
  background-color: var(--purple);
}

.service i {
  margin-right: 8px;
  color: var(--white);
  font-size: 1.2rem;
}

.service.coming-soon::after {
  content: "Coming Soon";
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--purple);
  color: var(--black);
  padding: 5px 10px;
  border-radius: 0 5px 0 5px;
  font-size: 0.7rem;
  color: var(--white);
  font-weight: 700;
}

.product-details {
  width: 45%;
  padding: 20px;
}

.product-description {
  margin-bottom: 20px;
  font-size: 1rem; /* Enhanced readability */
}

button {
  background-color: var(--purple);
  color: var(--white);
  border: none;
  padding: 15px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--dark-purple);
}

@media (max-width: 1024px) {
  .content-section {
    flex-direction: column;
    align-items: center;
  }

  .service-grid,
  .product-details {
    width: 100%;
  }

  .service-grid {
    order: 2;
  }

  .product-details {
    order: 1;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .dunefox-product-page {
    padding: 1rem;
  }

  .service {
    padding: 10px;
  }

  .banner-headline,
  .banner-subtitle {
    font-size: 1.5rem;
  }
}
