:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #000000;
  --dark-purple: #3e2ca3;
}

.who-we-are-container {
  text-align: center;
  color: var(--white);
  background-color: var(--black);
}

.banner {
  text-align: center;
  /* padding: 2rem 0; */
  background: linear-gradient(to right, var(--purple), var(--lavender));
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directors-section .directors-photo {
  position: relative;
  background-size: cover;
  height: 80vh;
}

.photo-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.overlay-text {
  max-width: 40%;
  color: var(--white);
  text-align: left;
}

.overlay-text h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.overlay-text p {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.85;
}

.core-values {
  padding: 2rem 5rem;
  background-color: var(--black);
}

.core-values h2 {
  font-size: 2rem;
  color: var(--lavender);
  margin-bottom: 1rem;
}

.core-values p {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 3rem;
}

.value-entry {
  border-bottom: 1px solid var(--lavender);
  padding: 1rem 0;
}

.value-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.toggle-icon {
  font-size: 1.5rem;
}

.value-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.value-description {
  float: left;
}

.value-image {
  width: 40%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner {
    height: 30vh;
  }

  .directors-section .directors-photo {
    height: 60vh;
  }

  .photo-overlay {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 50%,
      rgba(0, 0, 0, 0.5)
    );
  }

  .overlay-text {
    padding-left: 3%;
    max-width: 100%;
  }

  .core-values {
    padding: 2rem;
  }

  .core-values h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .value-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures everything is centered */
  }

  .value-description {
    width: 90%; /* Adjusts the width */
    text-align: left; /* Justifies the text for alignment */
    word-spacing: normal; /* Default spacing, adjust as needed */
    letter-spacing: normal; /* Adjust this as needed for better uniformity */
    line-height: 1.6; /* Ensures consistent line height */
    margin-bottom: 1rem; /* Space between the text and the image */
  }

  .value-image {
    width: 100%; /* Full width of its container */
    max-width: 300px; /* Maximum width to keep it reasonable */
    margin-top: 1rem; /* Space above for separation */
    display: block; /* Ensures it's centered correctly */
  }
}
