:root {
  --purple: #5a40de;
  --lavender: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --dark-purple: #3e2ca3;
}

.who-we-are-container {
  color: var(--white);
  background-color: var(--black);
  font-family: "Arial", sans-serif;
}

.banner {
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(to right, var(--purple), var(--lavender));
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.directors-section .directors-photo {
  position: relative;
  height: 80vh;
}

.photo-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.overlay-text {
  max-width: 40%;
  color: var(--white);
  text-align: left;
}

.overlay-text h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.overlay-text p {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.85;
}

.core-values {
  padding: 4rem;
  background-color: var(--dark-purple);
  text-align: left;
}

.core-values h2 {
  font-size: 2rem;
  color: var(--lavender);
  margin-bottom: 2rem;
}

.values-narrative p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--white);
}

.value-story h3 {
  font-size: 1.5rem;
  color: var(--lavender);
}

.value-story p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .banner {
    height: 30vh;
  }

  .directors-section .directors-photo {
    height: 60vh;
  }

  .photo-overlay {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 50%,
      rgba(0, 0, 0, 0.5)
    );
  }

  .overlay-text {
    padding-left: 3%;
    max-width: 100%;
  }

  .core-values {
    padding: 2rem;
  }

  .core-values h2 {
    font-size: 1.5rem;
  }
}
