/* Universal Reset for All Components */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; /* Prevent horizontal overflow */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
