:root {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--white); /* Adjusted to use variable for consistency */
  background-color: var(--black); /* Adjusted to use variable */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --purple: #5a40de;
  --lavendar: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --black2: #2a2330;
}

a {
  font-weight: 500;
  color: var(--purple); /* Adjusted to use variable */
  text-decoration: inherit;
}
a:hover {
  color: var(--lavendar); /* Adjusted to use variable for hover */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  background-color: var(--black); /* Adjusted to use variable */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--purple); /* Adjusted to use variable */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black); /* Adjusted to use variable */
    background-color: var(--white); /* Adjusted to use variable */
  }
  a:hover {
    color: var(--lavendar); /* Adjusted to maintain style consistency */
  }
  button {
    background-color: var(--white); /* Adjusted to use variable */
  }
}
