:root {
  font-family: "Raleway", sans-serif;
  --purple: #5a40de;
  --lavendar: #988ab5;
  --white: #fcf7ff;
  --black: #1e1927;
  --black2: #2a2330;
}
  
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: #fcf7ff;
  line-height: 1.6;
  overflow-x: hidden;
}
